<!doctype html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Marvel Universe Viewer</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-resource.js"></script>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="application.js"></script>
    <style>
      .node {
        stroke: #fff;
        stroke-width: 1.5px;
      }
      .link {
        stroke: #999;
        stroke-opacity: .6;
      }
    </style>
  </head>
  <body ng-controller="HeroLoaderController">
    <section class="container">
      <section id="heroloader">
        <h1>Select your hero</h1>
        <div class="control-group">
          <label for="searchHero">Search for the hero name (at least 3 characters):</label>
          <input type="search" id="searchHero" ng-model="search">
        </div>
        <br />
        <br />
        <div class="control-group" ng-show="searched">
          <label for="heroSelection">Select a superhero:</label>
          <span class="nullable" id="heroSelection">
            <select ng-model="selected" ng-options="h.name for h in heros" ng-click="loadHero">
              <option value="">--- choose a hero ---</option>
            </select>
          </span>
        </div>
      </section> 
      <section ng-show="loaded" id="universe">
        <h2>Hover over a circle to display hero name</h2>
      </section>
    </section>
  </body>
</html>
